* {
  transition: background-color linear 0.2s;
  transition: color linear 0.2s;
}

:root,
:root.dark {
  --fg: #cad3f5;
  --fg-1: #a5adcb;
  --fg-2: #b8c0e0;

  --bg-0: #1e2030;
  --bg: #24273a;
  --bg-1: #363a4f;
  --bg-2: #494d64;
  --bg-3: #5b6078;

  --accent: #c6a0f6;

  --red: #ed8796;
  --orange: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --blue: #8aadf4;
  --aqua: #8bd5ca;
  --purple: #c6a0f6;

  --black: #181926;
}

:root.light {
  --fg: #4c4f69;
  --fg-1: #6c6f85;
  --fg-2: #5c5f77;

  --bg-0: #e6e9ef;
  --bg: #eff1f5;
  --bg-2: #ccd0da;
  --bg-3: #bcc0cc;
  --bg-4: #acb0be;

  --accent: #8839ef;

  --red: #d20f39;
  --orange: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --blue: #1e66f5;
  --aqua: #179299;
  --purple: #8839ef;
  --black: #181926;
}

html,
body {
  background-color: var(--bg);
  color: var(--fg);
  margin: 0;
  padding: 0;
  font-family: "Fira Code", sans-serif;
}

main {
  margin: 1.5rem;
}

a {
  color: var(--blue);
  text-decoration: underline;
}

img:not([src]) {
  visibility: hidden;
}

.title {
  text-align: center;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid var(--bg-1);
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.2rem;
}

.hover-elevate {
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
  text-decoration: none;
  color: var(--fg);

  border: 2px solid var(--bg-1);
  border-radius: 1rem;
  padding: 1rem;
}

.hover-elevate:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px var(--accent);
}
