:root {
    --fg: #D3C6AA;
    --fg-1: #859289;
    --fg-2: #9DA9A0;
    --bg-0: #2D353B;
    --bg-1: #343F44;
    --bg-2: #3D484D;
    --red: #E67E80;
    --orange: #E69875;
    --yellow: #DBBC7F;
    --green: #A7C080;
    --blue: #7FBBB3;
    --aqua: #83C092;
    --purple: #D699B6;
    --black: #232A2E;
}

html,
body {
    background-color: var(--bg-0);
    color: var(--fg);
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', sans-serif;
}

main {
    margin: 1.5rem;
}

a {
    color: var(--blue);
    text-decoration: underline;
}


img:not([src]) {
    visibility: hidden;
}